# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


on:
  pull_request:
  push:
    branches:
      - 'main'
      - 'test*'
    #paths:
    #  - 'COMMIT_ID'

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-16.04
          - windows-latest
    runs-on: ${{ matrix.os }}
    env:
      CONFIG: ${{ matrix.config }}
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
    steps:

      - name: get_actions
        run: |
          mkdir -p ./../.github/actions/
          pushd ./../.github/actions/
            git clone https://github.com/actions/setup-python.git
            pushd setup-python/
              git checkout v2
            popd
            git clone https://github.com/actions/checkout.git
            pushd checkout/
              git checkout v2
            popd
          popd
        shell: bash

      - name: checkout
        uses: ./../.github/actions/checkout

      - name: setup_python
        uses: ./../.github/actions/setup-python
        with:
          python-version: 3.6
          architecture: x64

      - name: build_step_nix
        run: |
          ./build.sh
        shell: bash
        if: |
          !startsWith(matrix.os, 'windows')

      - name: build_step_windows
        run: |
          call vswhere
	  dir "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build"
          "C:\Program Files\Git\bin\bash.EXE" --noprofile --norc -e -o pipefail build.sh
        shell: cmd
        if: |
          startsWith(matrix.os, 'windows')
